
li{
  list-style: none;
}


ul{
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.eric a{
  color: rgb(235, 231, 231);
  font-size: 30px;
  margin-right: 550px;
  margin-top: 20px;
}
header{
  background-color: rgb(41, 37, 37);
  height: 80px;
}
footer{
  list-style: ;
}
.buttom{
  display: block;
}
.ovie{
  background-color: aqua;
  padding: 50px;
}
.guy{
  color: aliceblue;
}
p{
  color: aliceblue;
}
body{
  background-color: rgb(30, 32, 31);
}