* {
    margin: 0;
    padding: 0;
}

header {
    background-color: blue;
}

ul {
    display: flex;
    justify-content: flex-end;
    padding: 40px 0;
    gap: 20px;
    align-items: end;
}

li {
    list-style: none;
    margin: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.rpg a {
    color: white;
    font-size: 30px;
    margin-right: 600px;

}

footer {
    background-color: crimson;
}