*{
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: grey;
    padding: 30px 0;
}
a{
    text-decoration: none;
    text-align: center;
}
li{
    list-style: none;
}
.name a{
    color: red;
    font-size: 30px;
    margin-right: 350px;
}
footer{
    display: block;
    text-align: center;
    margin-top: 20px;
}
.name2{
    background-color: pink;
}
