* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
}
header {
  background-color: black;
  padding: ;
  border-radius: 20px;
  margin: 40px 40px;
}
.intro {
  font-family: Arial, sans-serif;
  font-size: 25px;
  display: flex;
  align-items: center;
  padding: 50px;
  margin: 50px 0;
  margin-left: 60px;
  margin-right: 60px;
  border-bottom: 1px solid;
}
.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 50px 0;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.header li {
  list-style: none;
  border-radius: 15px;
  padding: 15px;
}
.Name a {
  color: rgb(255, 255, 255);
  font-size: 35px;
  margin-right: 500px;
}
footer {
  background-color: black;
  padding: 30px;
  color: white;
}
span {
  color: rgb(229, 16, 16);
}
img {
  border-radius: 30%;
  margin-left: 250px;
  border-radius: 20px;
  max-width: 30%;
}
.p {
  font-size: 19px;
  color: black;
  font-weight: 100;
}
.middle_content ul {
  display: flex;
  gap: 15px;
  border-radius: 30px;
  justify-content: center;
  margin: 70px;
}
.middle_content li {
  background-color: rgb(172, 0, 11);
  border-radius: 15px;
  color: white;
  font-size: 30px;
  padding: 30px;
  gap: 30px;
  list-style: none;
}
.skill {
  text-align: center;
  size: 15px;
}
.last_part p {
  margin: 30px;
  padding-left: 40px;
}
.last_part h1 {
  padding-left: 70px;
}
.last_part li {
  padding-left: 70px;
  list-style: none;
  margin-bottom: 20px;
}
.last_part a {
  text-decoration: none;
}
footer {
  display: flex;
  justify-content: center;
}
.last_right {
  margin-left: 150px;
}
