* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px 0px;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

.name a {
  color: black;
  font-size: 30px;
  margin-right: 350px;
}

header {
  background-color: brown;
}

footer {
  background-color: rgb(133, 133, 138);
}

p {
  text-align: center;
}
